* {
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid #cccccc;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.nav {
    background-color: #ffffff;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #777777;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.name {
    float: left;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    text-align: center;
}

.mainbody {
    background-image: url("/Users/andr3w/Desktop/2018UCB/Basic-Portfolio/assets/images/bananas.png");
    width: 100%;
    padding: 100px;
}

#full {
    width: 960px;
    height: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: #ffffff;
    color: #777777;
    text-align: left;
    border: 2px solid #dddddd;
    font-family: Helvetica;
}

.me {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 150px;
}

.about {
    line-height: 200%;
}

#portfolio {
    width: 960px;
    height: 940px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: #ffffff;
    border: 2px solid #dddddd;
    position: relative;
}

.gallery img{
    margin: 10px;
    width: 275px;
    height: 206px;
}

.text1 {
    position: absolute;
    bottom: 630px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 106px;
    padding-right: 107px;
}

.text2 {
    position: absolute;
    bottom: 630px;
    left: 329px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 95px;
    padding-right: 107px;
}

.text3 {
    position: absolute;
    bottom: 400px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 88px;
    padding-right: 107px;
}

.text4 {
    position: absolute;
    bottom: 400px;
    left: 329px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 38px;
    padding-right: 107px;
}

.text5 {
    position: absolute;
    bottom: 170px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 38px;
    padding-right: 107px;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    padding: 20px;
    clear: both;
    background: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 10px solid #4aaaa5;
}